<div class="container new-listing">
  <%= form_for @listing do |f|%>
    <p>
      <%= f.label :title, "Title" %>
    </p>
    <p>
      <%= f.text_field :title %>
    </p>
    <p>
      <%= f.label :body, "Description" %>
    </p>
    <p>
      <%= f.text_area :body %>
    </p>
    <p>
      <%= f.label :zip, "Zip" %>
    </p>
    <p>
      <%= f.text_field :zip %>
    </p>
    <p>
      <h3>Photos</h3>
      <%= f.fields_for :photos do |photo_form| %>
        <% photo_form.file_field :picture, class: "img", hidden: "" %>
      <% end %>
    </p>
    <div class="add-image">
      <p>+</p>
    </div>

    </hr>
    <div class="new-listing-button">
      <%= f.submit %>
    </div>
  <% end %>
</div>

<script>
  var upload = document.querySelector(".add-image");
  upload.addEventListener("click", newImage);

  function newImage() {
    // debugger
    var hiddenUpload = document.querySelector('[hidden]');
    hiddenUpload.removeAttribute("hidden");
  }
</script>